<div class="center-div">
  <div class="col-xs-12">
  <section class="screen p-5 text-right">
  <div class="alert alert-danger error" *ngIf="showModal" id="erroralert">
    {{errorMessage}}
    <button type="button" class="close" data-dismiss="alert" (click)="showModal = !showModal">x</button>
    </div>
    {{ number }}
    </section>
    <section class="dialer">
      <div class="row p-0 m-0 row1">
     <div class="col-4 button text-center" (click)="typeNumber('1')"><span class="number">1</span><br/><span class="alphabets"></span></div>
     <div class="col-4 button text-center" (click)="typeNumber('2')"><span class="number">2</span><br/><span class="alphabets">ABC</span></div>
     <div class="col-4 button text-center" (click)="typeNumber('3')"><span class="number">3</span><br/><span class="alphabets">DEF</span></div>
     </div>
      <div class="row p-0 m-0 row2">
     <div class="col-4 button text-center" (click)="typeNumber('4')"><span class="number">4</span><br/><span class="alphabets">GHI</span></div>
     <div class="col-4 button text-center" (click)="typeNumber('5')"><span class="number">5</span><br/><span class="alphabets">JKL</span></div>
     <div class="col-4 button text-center" (click)="typeNumber('6')"><span class="number">6</span><br/><span class="alphabets">MNO</span></div>
     </div>
      <div class="row p-0 m-0 row3">
     <div class="col-4 button text-center" (click)="typeNumber('7')"><span class="number">7</span><br/><span class="alphabets">PQRS</span></div>
     <div class="col-4 button text-center" (click)="typeNumber('8')"><span class="number">8</span><br/><span class="alphabets">TUV</span></div>
     <div class="col-4 button text-center" (click)="typeNumber('9')"><span class="number">9</span><br/><span class="alphabets">WXYZ</span></div>
     </div>
      <div class="row p-0 m-0 row4">
     <div class="col-4 button text-center" (click)="typeNumber('*')"><span class="number icon">*</span></div>
     <div class="col-4 button text-center" (click)="typeNumber('0')"><span class="number">0</span><br/><span class="alphabets">+</span></div>
     <div class="col-4 button text-center" (click)="typeNumber('delete')"><span class="number icon">
      <i class="fas fa-backspace"></i></span></div>
     </div>
    </section>
    <div class="call text-center bg-success" (click)="call()">
      <i class="fas fa-phone icon"></i>
    </div>
    </div>
  </div>