/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 375px;
     height: 647px;
  background-color: #ffffff;
  box-shadow:0px 0px 10px black;
}

.dialer{
    
    box-shadow: 0px 0px 0px #ccc, 0px -1px 5px #ccc;
}
body {
    background:  rgb(44, 181, 232);
}

      .screen{
          height:127px;
     font-size: 40px;
      }

  .error{
      position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    text-align: left;
    font-size:18px;
    border-radius:0;}
    
    .error .close{
      font-size: 18px;
    color: #721c24;}    

.button{
    
    height: 100px;
    /* position: relative; */
    padding: 10px !important;
    cursor:pointer;
}

.row1 .button{
    border-top:1px solid #f5f9fa;
    border-right:1px solid #f5f9fa;
    border-bottom:1px solid #f5f9fa;
}

.row2 .button,.row3 .button,.row4 .button{
    border-right:1px solid #f5f9fa;
    border-bottom: 1px solid #f5f9fa;
}

.number{
    
      color: #4a90e2;
    font-size: 35px;
}

.number.icon{
    color:#999999;
}

.alphabets{
    
      color: #9e9e9e;
    font-size: 12px;
}

.call{
      height: 120px;
    color: white;
    font-size: 30px;
    cursor:pointer;
    }

    .call .icon{
        margin-top:32px;
    }